<server description="Sample Liberty server">

  <featureManager>
    <platform>jakartaee-10.0</platform>
    <feature>servlet</feature>
    <feature>jsonb</feature>
    <feature>mcp-1.0</feature>
  </featureManager>

  <include location="../fatTestPorts.xml" />
  <!--logging traceSpecification="MCP=all"/-->
  
</server>
